body {
  background-color:#fffefe;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color:#424c5d;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #000000;
}

h2 {
  color: #b6bbc4;
}

.search-container {
  margin: 20px auto;
  width: 90%;
  max-width: 300px;
  text-align: center;
  background-color: #f2f4f7;
  border-radius: 10px;
  overflow: hidden;
}

.search-text {
  display: block;
  color: #b6bbc4;
  margin-bottom: 5px;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

}

.search-bar img {
width: 15px;
height: 15px;
padding-right: 10px;
}
.search-input {
  background-color: #f2f4f7;
  width: 100%;
  border: none;
  outline: none;
  height: 20px;
  padding-left: 10px;
  font-size: 11px;
}

.square-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.square {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f2f4f7;
  margin: 0 10px;
  border-radius: 3px;
}

.square img {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
