@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/* Estilos gerais */
body {
  font-family: 'Lato', Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.greeting {
  font-size: 24px;
}

.temperature-viewer {
  font-size: 18px;
}

#search-container {
  margin-top: 30px;
  position: relative;
}

#search-input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e6e6e6;
  color: #333333;
  border: none;
  text-align: center;
  width: 230px;
}

#results-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

#results-list li {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}

.favorite {

  display: flex;
  width: 60px;
  height: 60px;
  background-color: #e9e9e9;
  margin: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;

}

.favorites-container {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap; /* Quebra para a próxima linha se não houver espaço suficiente */
}

@media (max-width: 480px) {
  /* Estilos responsivos para dispositivos com largura máxima de 480px */
  .greeting {
    font-size: 20px;
    margin-top: 65px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 20px;
  }

  .temperature-viewer {
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    padding-left: 30px;
  }

  .favorite {
    width: 70px;
    height: 70px;
    margin: 10px;
  }
}

/* Estilo dos elementos com a classe 'overlay-element' */
.overlay-element {
  filter: brightness(50%);
  backdrop-filter: blur(8px);
}

/* Estilos do overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

#overlay.active .overlay-element {
  backdrop-filter: blur(8px); /* Aplica o blur aos elementos com a classe 'overlay-element' */
}


.temperature-viewer {
  backdrop-filter: none; /* Remove o blur do #search-container */
}

body {
  animation: fade 0.5s;
  transition-timing-function: ease;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

img,a {
  width: 45px;
  height: 45px;
}

